<!DOCTYPE html>
<html>
 <!-- ng-app="starterkit" -->

<head>
  <title>TODO Project</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"  />
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="starterkit" ng-controller="todoCtrl">

<h3>To Do List</h3>

<form ng-submit="todoAdd()">
  <input type="text" ng-model="todoInput" size="25" placeholder="New Item" />
  <input type="submit" value="Add" />
</form>
<br />
(Click box to complete item)
<div ng-repeat="x in todoList">
  <input type="checkbox" ng-model="x.done" /><span ng-bind="x.todoText"></span>
</div>

<br /><p><button ng-click="remove()">Remove Checked Items</button></p>

<script>
var app = angular.module('starterkit', []);
app.controller('todoCtrl', function($scope) {
  $scope.todoList = [];

  $scope.todoAdd = function() {
    $scope.todoList.push({todoText:$scope.todoInput, done:false});
    $scope.todoInput = "";
  };

  $scope.remove = function() {
    var oldList = $scope.todoList;
    $scope.todoList = [];
    angular.forEach(oldList, function(x) {
      if (!x.done) $scope.todoList.push(x);
    });
  };
});
</script>
  <!-- <script src="/ngApp/bundle.js"></script> -->
<p><br />
  <a href="https://gridbyexample.com" target="_blank">CSS Grid System</a>
</p>
<div class="wrapper">
  <div class="box a">A - Title</div>
  <div class="box b">B - Header</div>
  <div class="box c">C - Main</div>
  <div class="box d">D - Side Bar</div>
  <div class="box e">E - Footer</div>

</div>

</body>
</html>
